:root {
  font-size: small;
  font-family: "Poppins";
}

header {
  background-color: white;
}

body {
  /* background-color: rgba(53, 113, 70, 1); */
  background-color: rgba(214, 233, 218, 1);
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}

.cardForm {
  width: 1440px;
  height: 963px;
  flex-shrink: 0;
  background-color: rgba(214, 233, 218, 1);
}

.boxAtas {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
}

.labelAtas {
  position: relative;
  height: 150px;
  border-radius: 8px;
  background-color: rgba(53, 113, 70, 1);
}

.menuBar {
  position: relative;
  width: 500px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: #d6e9da;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuBar .subtitle {
  text-align: center;
  color: rgba(53, 113, 70, 1);
  font-size: 24px;
  font-weight: 600;
  word-wrap: break-word;
  margin: 0;
  flex-grow: 1;
}

.titleBar {
  position: relative;
  width: 1104px;
  height: 58px;
  flex-shrink: 0;
  border-radius: 6px;
  background-color: rgba(53, 113, 70, 1);
}

.titleBar .subtitle {
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #d6e9da;
  font-size: 24px;
  font-weight: 600;
  word-wrap: break-word;
}

.input-field .input {
  color: #d6e9da;
  width: 664px;
  height: 35.9px;
  left: px;
  top: 0px;
  background: rgba(49, 105, 65, 0.34);
  border-radius: 10px;
  margin-left: 320px;
}

::-webkit-input-placeholder {
  color: rgba(214, 233, 218, 1);
}

.buttonUpdate {
  background-color: rgba(53, 113, 70, 1);
  color: #d6e9da;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 450px;
  margin-top: 270px;
}

.buttonBatal {
  background-color: rgba(49, 105, 65, 0.34);
  color: #d6e9da;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 270px;
}

.button:hover {
  background-color: rgba(38, 82, 50, 1);
}
